.jumbotron-fluid {
    margin: auto; 
    width: 70%;
    text-align: center;
}

.btn-success {
    margin-top: 20px; 
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

h1 {
    border-bottom: 2px solid gray;
}

h2 {
    font-size: 25px;
}

